# If changing requirements, both requirements.txt and
# requirements-tensorflow.txt must be recompiled
alembic==1.3.1
apache-airflow[postgres,crypto,celery,sentry,slack,flask_oauth,amazon]
redis
requests
mohawk
authlib
faker
requests-oauthlib
